/**************/
/* CSS REMEDY */
/**************/



/* Active knoppen, hover*/


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-white: #fff;
	--background: #fff;
	--main-color-background: #FFEDED;
	--main-color: #FF5353;
	--standard-width: 84.375%;
	--propagegridtemplate:5.29% 89.42% 5.29%;
	--standaard-radius: 16px;
	--background-list: #F4F2FF;
	--dark-background: yellow;
}
@media screen and (prefers-color-scheme: dark){
	:root{
		--color-text: #decccc;
		--background: #101519;
		--background-list: #1d252b;
	}
	#homepage section:first-of-type img{
	filter: brightness(2.7);
	}
	#homepage section:first-of-type a{
		--main-color-background: #FF5353;
		--main-color: #FFEDED;
	}
	#homepage main section:nth-of-type(4) ul{
		--color-white: var(--color-text)
	}
}








/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
	padding: 0;
	margin: 0;
	font-family: Sofia-Pro;
	list-style: none;
}
@keyframes fadeIn {  
	from {  
		opacity: 0;  
	}  
	to {  
		opacity: 1;  
	}  
}
.hidden{
	display: none;
	opacity: 0;
}
.highcontrast *{
	--background: black;
	--color-text: white;
	--main-color-background: white;
	--background-list: black;
}
#homepage.highcontrast main section:nth-of-type(5) li, #homepage.highcontrast main section:nth-of-type(6) ul li{
	border: 2px var(--main-color) solid;
}
#homepage.highcontrast main section:nth-of-type(6) ul li{
	padding: 0.6em;
	border-radius: 16px;
}
#homepage.highcontrast main section:nth-of-type(5) li a{
	filter: invert(1);
}
.textlarge{
	font-size: 20px;
}

/* { HEADER } */
/**************/
header {
	margin: 0.2em 0 0 0;
	border-bottom: 1px rgba(125, 125, 125, 0.2) solid;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
header button{
	grid-area: 1 / 2 / 2 / 3;
	justify-self: right;
	margin-right: 1.5em;
	border: none;
	width: fit-content;
	background: none;

}
header button img{
	height: 40%;
}
header>img, #propage header>a img{
	width: 94%;
	margin-left: 15%;
	align-self: center;
}
#propage header>button img{
	filter: invert(1);
}

header a {
	font-weight: 600;
	font-size: 2em;
	color: white;
	width: 100%;
	text-decoration: none;
	padding: 0.1em 0.4em;
	transition: 0.5s;
}
header nav{
	z-index: 1;
	display: flex;
	flex-flow: column nowrap;
	position: fixed;
	margin-top: -0.2em;
	background-image: url(../images/testoback.png);
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}



header nav>img{
	margin-top: 6em;
	width: 50%;
}
.textlarge header nav>img{
	margin-top: 1em;
}
header nav button:first-of-type{
	position: absolute;
	top: 2em;
	left: 2em;
	border:none;
	background: none;
	height: 6em;
}
header nav button:nth-of-type(2){
	position: absolute;
	top: 0em;
	right: 0em;
	border:none;
	background: none;
	filter: invert(1);
	height: 10em;
}
header nav button:last-of-type{
	position: absolute;
	top: 0em;
	right: 5em;
	border:none;
	background: none;
	filter: invert(1);
	height: 10em;
}
header ul{
	margin-top: 4em;
	font-size: 0;
}
header li{
	margin: 1em 1em;
}
header li a:focus{
	border: 2px solid white;
	border-radius: 50px;
}
header li a:hover{
	font-size: 1.8em;
}


#homepage section:first-of-type ul {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#homepage section:first-of-type li {
	width: var(--standard-width);
}

/* { TITLE AND SECUNDARY NAV } */
/*******************************/
#homepage h1 {
	padding-top: 3rem;
	font-size: 2.6em;
	font-weight: 800;
	line-height: 120%;
	margin-bottom: 0.3em;
	color: var(--color-text);
}
#homepage main{
	background-color: var(--background);
}

#homepage section:first-of-type img {
	height: 1.35em;
	width: auto;
	padding: 0 1.13em;
}

#homepage section:first-of-type a {
	color: var(--main-color);
	font-weight: 600;
	letter-spacing: 0.03em;
	background-color: var(--main-color-background);
	display: flex;
	height: 3.1em;
	border-radius: 16px;
	align-items: center;
	font-size: 1.2em;
	margin: 0.4em 0;
}

#homepage section:first-of-type img:last-of-type {
	height: 2em;
	width: auto;
	margin-left: auto;
	padding-right: 8%;
}

/* { MUSIXMATCH PRO BANNER } */
/*****************************/
#homepage section:nth-of-type(2) {
	display: flex;
	flex-flow: column nowrap;
	width: var(--standard-width);
	margin: auto;
	align-items: center;
	margin-top: 15%;
	text-align: center;
	color: var(--color-text);
	font-size: 1.36em;
	min-height: 41rem;
	border-radius: 24px;
	background: linear-gradient(0.25turn, #0B0B0B, #191919);
}

#homepage section:nth-of-type(2) h2 {
	width: 90%;
	line-height: 100%;
	font-weight: 600;
}

#homepage section:nth-of-type(2) img:first-of-type {
	width: 57%;
	margin: 1.9em 0 0.9em 0;
}

#homepage section:nth-of-type(2) a {
	font-size: 0.8em;
	font-weight: 600;
	background-color: var(--main-color);
	padding: 0.6em 1.5em 0.7em 1.5em;
	margin: 2.2em 0 1.8em 0;
	border-radius: 21px;
}

#homepage section:nth-of-type(2) img:last-of-type {
	width: 95%;
	justify-self: end;
}



/* { OUR PARTNERS } */
/*******************************/
#homepage main section:nth-of-type(3){
	display: flex;
	flex-flow: column nowrap;
}
#homepage main section:nth-of-type(3) h2{
	font-size: 2.2em;
	margin: 2em 0 0 2rem;
	color: var(--color-text);
}
#homepage main section:nth-of-type(3) ul{
	margin-top: 1em;
	min-height: 24rem;
	height: fit-content;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	color: white;
}
#homepage main section:nth-of-type(3) li a{
	display: grid;
	width: 17rem;
	grid-template-columns: 1rem 15rem 1rem;
	grid-template-rows: fit-content(50%) 9% 3% fit-content(32%) 4% 4%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: .5em;
}

#homepage main section:nth-of-type(3) li a img:first-of-type{
	grid-area: 1 / 1 / 6 / 4;
	width: 100%;
}

#homepage main section:nth-of-type(3) li a img:last-of-type {
	grid-area: 2 / 2 / 3 / 3;
	height: 100%;
}

#homepage main section:nth-of-type(3) li a p {
	grid-area: 4 / 2 / 5 / 3;
	font-size: 1.06em;
}

#homepage main section:nth-of-type(3) li:last-of-type img:last-of-type {
	height: 50%;
	align-self: end;
}
#homepage main section:nth-of-type(3) li:first-of-type{
	padding-left : 2em;
}
#homepage main section:nth-of-type(3) li:last-of-type{
	padding-right: 2em;
}
#homepage main section:nth-of-type(3)>a{
	padding: 3% 4%;
	border-radius: 15px;
	margin-left: 10%;
	font-size: 1.1em;
	width: fit-content;
	background-color: #F5F5F5;
}


/* { Other Partners} */
/*******************************/
#homepage main section:nth-of-type(4){
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-weight: 100;
	font-size: 1.8em;
}

#homepage main section:nth-of-type(4) p{
	width: 326px;
	font-size: 0.8em;
	margin: 3em 0 1em 0;
	color: var(--color-text);
}
#homepage main section:nth-of-type(4) ul{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0.55em;
	grid-template-rows: repeat(3, fit-content(100%));
	list-style-type: none;
	background-color: var(--color-white);
}
#homepage main section:nth-of-type(4) li{
	height: fit-content;
}
#homepage main section:nth-of-type(4) ul img{
	height:auto;
	width: 90%;
}

/* { MAKING MUSIC BETTER, TOGETHER} */
/*******************************/
#homepage main section:nth-of-type(5){
	display: grid;
	grid-template-columns: 7.5% 85% 7.5%;
	margin-top: 2em;
}
#homepage main section:nth-of-type(5) h2{
	grid-area: 1 / 2 / 1 / 2;
	font-size: 2.2em;
	color: var(--color-text);
}
#homepage main section:nth-of-type(5) ul{
	grid-area: 2 / 2 / 2 / 2;
}
#homepage main section:nth-of-type(5) li{
	background-color: var(--background-list);
	display: flex;
	flex-flow: column nowrap;
	margin: 2.2em 0;
	border-radius: 16px;
	color: var(--color-text);
}
#homepage main section:nth-of-type(5) h3{
	font-size: 1.8em;
	margin: 0.9em 0 0.5em 0.6em;
}
#homepage main section:nth-of-type(5) p{
	font-weight: 100;
	font-size: 1.47em;
	margin: 0.2em 0 0.5em 0.6em;
}
#homepage main section:nth-of-type(5) li>img{
	width: 100%;
	border-radius: 16px;

}
#homepage main section:nth-of-type(5) li:nth-of-type(3)>img{
	background-color: var(--background-list);
}
#homepage main section:nth-of-type(5) li a{
	display: flex;
	flex-flow: row nowrap;
	background-color: black;
	width: max-content;
	color: white;
	padding: 8px 26px 8px 16px;
	border-radius: 50px;
	font-weight: 600;
	font-size: 1.2em;
	white-space: nowrap;
	margin: 1.3em 0.6em ;
}
#homepage main section:nth-of-type(5) li a img{
	width: 1.6rem;
	margin-right: 6.5%;
}

/* { TITLE AND SECUNDARY NAV } */
/*******************************/
#homepage main section:nth-of-type(6){
	display: grid;
	grid-template-columns: 7.5% 85% 7.5%;
}
#homepage main section:nth-of-type(6) h2{
	grid-area: 1 / 2 / 1 / 2;
	font-size: 2.2em;
	color: var(--color-text);
}
#homepage main section:nth-of-type(6) ul{
	grid-area: 2 / 1 / 2 / 4;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	padding: 0 6%;
}
#homepage main section:nth-of-type(6) ul li{
	flex-grow: 1;
	min-width: var(--standard-width);
	margin: 2em 1.5%;
}
#homepage main section:nth-of-type(6) ul li img{
	width: 100%;
	border-radius: 16px;
}

#homepage main section:nth-of-type(6) p{
	font-weight: 100;
	font-size: 1.47em;
	color: var(--color-text);
}
#homepage main section:nth-of-type(6) h3{
	font-size: 1.8em;
	color: var(--color-text);
}
#homepage main section:nth-of-type(6) a{
	color: var(--main-color);

}





/*=======*********************=======*/
/*<------ MUSIXMATCH PRO PAGE ------>*/
/*=======*********************=======*/

#propage header{
	z-index: 1;
	position: absolute;
}
#propage main{
	display: grid;
	grid-template-columns: var(--propagegridtemplate);
	grid-template-rows: repeat(1fr);
}

#propage section{
	grid-column: 2;
}


/* { TITLE AND PRO BANNER } */
/****************************/
#propage section:first-of-type{
	grid-column-start: 1;
	grid-column-end: 4;
	color: white;
	height: 94vh;
	background-image: url(../images/bannermusixmatchpro.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#propage section:first-of-type h1{
	opacity: 0;
	width: var(--standard-width);
	font-size: 2.8em;
	line-height: 100%;
	animation: fadeIn 1s linear;
	animation-fill-mode: forwards;
}
#propage section:first-of-type p{
	opacity: 0;
	width: var(--standard-width);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 100%;
	margin: 1em 0;
	animation: fadeIn 1s linear 0.5s;
	animation-fill-mode: forwards;
}
#propage section:first-of-type a{
	opacity: 0;
	background-color: var(--main-color);
	width: var(--standard-width);
	padding: 0.6em;
	font-size: 1.2em;
	border-radius: var(--standaard-radius);
	animation: fadeIn 1s linear 0.6s;
	animation-fill-mode: forwards;
}
#propage main{
	background-color: var(--background);
}


/* { INFORMATION ARTICLES} */
/***************************/
#propage section:nth-of-type(2){
	color: var(--color-text);
	display: grid;
	grid-column: span 3;
	grid-template-columns: var(--propagegridtemplate);
	grid-template-rows: repeat(1fr);
}
#propage section:nth-of-type(2) article{
	grid-column: 2;
	margin: 2em 0;
}
#propage section:nth-of-type(2) article>*{
	margin: 1rem 0;
}
#propage section:nth-of-type(2) h3{
	color: var(--main-color);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 0.86em;
	font-weight: 400;
}
#propage section:nth-of-type(2) h2{
	font-size: 2.2em;
}
#propage section:nth-of-type(2) p{
	font-size: 1.45em;
}
#propage section:nth-of-type(2) img{
	width: 100%;
}

/* { INFORMATION ARTICLES} */
/***************************/
#propage section:nth-of-type(2) article:nth-of-type(2){
	grid-column: span 3;
	text-align: center;
}
#propage section:nth-of-type(2) article:nth-of-type(2) img{
	width: 80%;
	background-image: linear-gradient(var(--background), rgba(255, 255, 0, 0), var(--background)), url(../images/lyricvidback.png);
	padding: 10%;
	background-size: 200%;
	background-position: 50% 50%;
}



#propage section:nth-of-type(3){
	background: url(../images/testoback.png) no-repeat, var(--background);
	background-size: 200%;
	display: grid;
	grid-column: span 3;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(1fr);
	padding-bottom: 3em;
}
#propage section:nth-of-type(3) h2, #propage section:nth-of-type(3)>p:first-of-type{
	grid-column-start: 1;
	grid-column-end: 3;
}
#propage section:nth-of-type(3) ul{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 1;
	grid-column-end: 3;
}
#propage section:nth-of-type(3) ul li{
	display: grid;
	min-width: 100%;
	grid-template-columns: 25% 75%;
	grid-template-rows: repeat(1fr);
	padding-bottom: 4em;
	background-color: var(--background);
	grid-area: 1 / 1 / 2 / 2;
	transition: 1s;
	color: var(--color-text);
}
#propage section:nth-of-type(3) ul img:first-of-type{
	grid-area: 1 / 1 / 2 / 3;
	width: 100%;
}
#propage section:nth-of-type(3) ul a{
	grid-area: 1 / 1 / 2 / 3;
	width: 12%;
	align-self: center;
	justify-self: center;
}
#propage section:nth-of-type(3) ul p:first-of-type{
	grid-area: 2 / 1 / 3 / 3;
	width: var(--standard-width);
	justify-self: center;
	font-size: 1.25em;
	min-height: 7em;
	/* Dit zorgt ervoor dat stel dat de tekst te groot word in large text mode dat hij de ruimte neemt, terwijl hij wel nog in de normale modus de stijl behoud */
	height: fit-content;
	margin-top: 1em;
}
#propage section:nth-of-type(3) ul h3{
	grid-area: 3 / 2 / 4 / 3;
	font-size: 1.1em;
	line-height: 100%;
}
#propage section:nth-of-type(3) ul p:nth-of-type(2){
	grid-area: 4 / 2 / 5 / 3;
	font-size: 1em;
	color: var(--color-text);
	font-style: italic;
	line-height: 100%;
}
#propage section:nth-of-type(3) ul p:nth-of-type(3){
	grid-area: 5 / 2 / 6 / 3;
	color: var(--main-color);
	line-height: 100%;
}
#propage section:nth-of-type(3) ul img:last-of-type{
	grid-area: 3 / 1 / 6 / 2;
	width: 55%;
	justify-self: center;
}



#propage section:nth-of-type(3) button{
	display: flex;
	background-color: var(--main-color);
	width: 3.5em;
	height: 3.5em;
	border: none;
	border-radius: 100%;
	justify-self: center;
	justify-content: center;
	align-items: center;
}
#propage section:nth-of-type(3) button img{
	width: 20%;
}

